<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tasks-heading" data-cy="TasksCreateUpdateHeading" jhiTranslate="jBpmApp.tasks.home.createOrEditLabel">
        Create or edit a Tasks
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jBpmApp.tasks.taskId" for="field_taskId">Task Id</label>
          <input type="number" class="form-control" name="taskId" id="field_taskId" data-cy="taskId" formControlName="taskId" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jBpmApp.tasks.taskName" for="field_taskName">Task Name</label>
          <input type="text" class="form-control" name="taskName" id="field_taskName" data-cy="taskName" formControlName="taskName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jBpmApp.tasks.taskStatus" for="field_taskStatus">Task Status</label>
          <input
            type="text"
            class="form-control"
            name="taskStatus"
            id="field_taskStatus"
            data-cy="taskStatus"
            formControlName="taskStatus"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jBpmApp.tasks.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="jBpmApp.tasks.approve" for="field_approve">Approve</label>
          <input type="checkbox" class="form-check" name="approve" id="field_approve" data-cy="approve" formControlName="approve" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
